FLW_SECRET_KEY=your_flutterwave_secret_key_here
ADMIN_PASSWORD=mad123
FIREBASE_PROJECT_ID=madburning-72643
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-fbsvc@madburning-72643.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----\n"
